---
name: actionlint
on:
  push:
    branches: [main]
    paths:
    - .github/**
  pull_request:
    branches: [main]
    paths:
    - .github/**
jobs:
  default:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: aquaproj/aqua-installer@v1.1.1
      with:
        aqua_version: v1.18.0
    # TODO remove ignore option. https://github.com/rhysd/actionlint/pull/131
    - run: actionlint -ignore 'unknown permission scope "discussions"'
